<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Users</title>
    <style>
    * {
      font-family: 'Courier New', Courier, monospace;
    }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <th>ID</th>
        <th>Connected</th>
        <th>In Game</th>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.connection_time }}</td>
          <td>{{ user.in_game }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
